<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a src="#">Bowling Scorer </a>
  <button (click)="onOpenModal(null,'add')" type="button">New Scoresheet</button>
  <form class="form-inline my-2 my-lg-0">
    <input  type="search" name="key" class="form-control mr-sm-2" placeholder="search game"/>
  </form>
</nav>
    <meta charset="UTF-8"> <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Bowling Scorer</title>
<script src="js/libs/angular.js/angular.js" type="javascript"></script>
<div ng-app="Scoresheet">
	<table cellspacing=10>
	<tr>Addition of Two Numbers in AngularJS</tr>
	<tr>
	<td>Enter First Value  </td>
	<td><input type="number" #input1  [(ngModel)]="val_1"  class="form-control"/></td>
	</tr>
	<tr>
	<td>Enter Second Value </td>
	<td><input type="number" #input2   [(ngModel)]="val_2" (change)="Calculate()" ></td>
	</tr>
</table>
<p>{{val_1}} blahblah {{+(val_1 + val_2)}}</p>
<button >calculate</button><p>{{(+result)}}</p>

<div class="container" id="main-container">
<div class="row col-lg">
<div *ngFor="let scoresheet of scoresheets" >
  <div class="card">
    <div>{{scoresheet?.name}}</div>
<table class="table table-bordered">
    <th>1</th>
    <th>2</th>
    <th>3</th>
    <th>4</th>
    <th>5</th>
    <th>6</th>
    <th>7</th>
    <th>8</th>
    <th>9</th>
    <th>10</th>
  <tr>
    <td>
      <div class="input-group">
        <div class= "input-group-prepend">
          <input type="text" class="form-control" ngModel={{scoresheet.frames[0]?.firstDelivery}} (change)="Calculatev2(scoresheet.frames[0].firstDelivery,scoresheet.frames[0].firstDelivery)" >
          <input type="text" class="form-control" value={{scoresheet.frames[0]?.secondDelivery}} >
        </div>
      </div>
  </td>
  <td>
    <div class="input-group">
      <div class= "input-group-prepend">
        <input type="text" class="form-control" value={{scoresheet.frames[1]?.firstDelivery}} >
        <input type="text" class="form-control" value={{scoresheet.frames[1]?.secondDelivery}} >
      </div>
    </div>
  </td>
  <td>
    <div class="input-group">
      <div class= "input-group-prepend">
        <input type="text" class="form-control" value={{scoresheet.frames[2]?.firstDelivery}} >
        <input type="text" class="form-control" value={{scoresheet.frames[2]?.secondDelivery}} >
      </div>
    </div>
</td>
<td>
  <div class="input-group">
    <div class= "input-group-prepend">
      <input type="text" class="form-control" value={{scoresheet.frames[3]?.firstDelivery}} >
      <input type="text" class="form-control" value={{scoresheet.frames[3]?.secondDelivery}} >
    </div>
  </div>
</td>
<td>
  <div class="input-group">
    <div class= "input-group-prepend">
      <input type="text" class="form-control" value={{scoresheet.frames[4]?.firstDelivery}} >
      <input type="text" class="form-control" value={{scoresheet.frames[4]?.secondDelivery}} >
    </div>
  </div>
</td>
<td>
  <div class="input-group">
    <div class= "input-group-prepend">
      <input type="text" class="form-control" value={{scoresheet.frames[5]?.firstDelivery}} >
      <input type="text" class="form-control" value={{scoresheet.frames[5]?.secondDelivery}} >
    </div>
  </div>
</td>
<td>
  <div class="input-group">
    <div class= "input-group-prepend">
      <input type="text" class="form-control" value={{scoresheet.frames[6]?.firstDelivery}} >
      <input type="text" class="form-control" value={{scoresheet.frames[6]?.secondDelivery}} >
    </div>
  </div>
</td>
<td>
  <div class="input-group">
    <div class= "input-group-prepend">
      <input type="text" class="form-control" value={{scoresheet.frames[7]?.firstDelivery}} >
      <input type="text" class="form-control" value={{scoresheet.frames[7]?.secondDelivery}} >
    </div>
  </div>
</td>
<td>
  <div class="input-group">
    <div class= "input-group-prepend">
      <input type="text" class="form-control" value={{scoresheet.frames[8]?.firstDelivery}} >
      <input type="text" class="form-control" value={{scoresheet.frames[8]?.secondDelivery}} >
    </div>
  </div>
</td>
<td>
  <div class="input-group">
    <div class= "input-group-prepend">
      <input type="text" class="form-control" value={{scoresheet.frames[9]?.firstDelivery}} >
      <input type="text" class="form-control" value={{scoresheet.frames[9]?.secondDelivery}} >
      <input type="text" class="form-control" value={{scoresheet.frames[9]?.thirdDelivery}} >
    </div>
  </div>
</td>

</tr>

  <!-- scores -->
  <tr>
    <td> {{scoresheet.frames[0]?.score}}</td>
    <td> {{scoresheet.frames[1]?.score}}</td>
    <td> {{scoresheet.frames[2]?.score}}</td>
    <td> {{scoresheet.frames[3]?.score}}</td>
    <td> {{scoresheet.frames[4]?.score}}</td>
    <td> {{scoresheet.frames[5]?.score}}</td>
    <td> {{scoresheet.frames[6]?.score}}</td>
    <td> {{scoresheet.frames[7]?.score}}</td>
    <td> {{scoresheet.frames[8]?.score}}</td>
    <td> {{scoresheet.frames[9]?.score}}</td>
  </tr>
  <div class="row">
  <div id="editScoresheet">
    <input type="button" value="Edit Scoresheet" data-toggle="modal" data-target="#editModal">
  </div>
  <div id="deleteScoresheet">
    <input type="button" value="Delete Scoresheet" data-toggle="modal" data-target="#deleteModal">
  </div>
  </div>
  </table>
</div>
</div>
</div>
</div>
</div>
